@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}

body {
    font-size: 100%; 
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-imagem {
    height: 72px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item {
    font-family: 'Inter', sans-serif;
    color: #000000c0;
    font-weight: 400;
    font-size: 20px;
}

.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid #000000c0;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 70px;
    color: #000000c0;
}

.conteudo-principal-escrito-subtitulo {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #000000c0;
}

.conteudo-principal-escrito-botao {
    background-color: #b38a19;
    width: 185px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0,0,0,0.25);
    border-radius: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #2f2325;
}

.conteudo-principal-escrito-botao a {
    color: #2f2325;
    text-decoration: none;
}

.conteudo-principal-escrito-botao:hover {
    background-color: #0000001c;
}

.conteudo-principal-imagem {
    height: 430px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;   
}

.conteudo-secundario-titulo {
    border-top: 0.4px solid #000000c0;
    padding-top: 48px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #000000c0;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #000000c0;
}

.rodape {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 32px;
    border-top: 0.4px solid #000000c0;
}

.rodape-texto h3{
    font-weight: 400;
    font-size: 30px;
    color: #000000c0;
    margin-bottom: 10px;
}

.rodape-texto h4 {
    font-weight: 400;
    font-size: 20px;
    color: #000000c0;
}

.rodape-imagem {
    height: 200px;
}